.flex
	display: flex
	flex-wrap: wrap
	margin: (-$gutter) / 2
	> .flex-item
		padding: $gutter / 2
		flex: 0 0 auto
	> .flex-item--small
		padding: $gutter / 4
		flex: 0 0 auto
	> .flex-none
			flex: none
			padding: 0
	> .flex-1
			flex: 1

.d-flex
	display: flex

.d-flex--aic
	align-items: center

.d-flex--jcsb
	justify-content: space-between

.d-flex--jcc
	justify-content: center

.d-flex--jce
	justify-content: end

.flex-between
	justify-content: space-between

.flex-justify-content-center
	justify-content: center
	@media screen and ( max-width: $md )
		justify-content: inherit

.flex-end
	display: flex
	justify-content: flex-end

.flex-center
	display: flex
	align-items: center

.flex-nowrap
	flex-wrap: nowrap

.flex-auto > .flex-item
	flex: 1 0 0%

.flex-100 > .flex-item
	width: 100%
.flex-50 > .flex-item
	width: 50%
.flex-33 > .flex-item
	width: 33.33333333333333%
.flex-25 > .flex-item
	width: 25%
.flex-66 > .flex-item
	width: 66%

.flex-item-20
	width: 20%

.flex-item-33
	width: 33.33333333333333%

.flex-item-66
	width: 66.66666666666666%

.flex-item-40
	width: 40%

.flex-item-60
	width: 60%

.flex-item-100
	width: 100%

@media screen and ( max-width: $lg )
	.flex-50 > .flex-item, .flex-33 > .flex-item, .flex-25 > .flex-item
		width: 50%

	.flex-lg-order1
		order: 1
	.flex-lg-order2
		order: 2

	.flex-item-33, .flex-item-66
		width: 100%

@media screen and ( max-width: $md )
	.flex-50 > .flex-item, .flex-33 > .flex-item, .flex-25 > .flex-item, .flex-wrap > .flex-item
		width: 100%

	.flex-md-order1
		order: 1
	.flex-md-order2
		order: 2

	.flex-md-order--1
		order: -1

	.flex
		> .flex-none
			padding: $gutter / 2

@media ( max-width: $lg )
	.flex
		> .flex-item
			padding: $gutter / 2
			flex: 0 0 auto
		> .flex-none
			flex: none
			padding: 0
			
		> .flex-1
			flex: 1

@media ( max-width: $md )
	.flex
		> .flex-none
			flex: none
			padding: $gutter / 2

	.flex-md-100
		> .flex-item
			width: 100%

@media ( min-width: $lg )
	.flex-lg-50
		> .flex-item
			width: 50%

@media ( max-width: $lg )

	.flex-lg-100
		> .flex-item
			width: 100%