.c-pagination
	margin: $gutter 0

	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
		height: 56px
		margin: 0 $gutter / -2
		@media (max-width : $md)
			height: 44px
		@media (max-width : $sm)
			margin: 0 $gutter / -4

	&__item
		display: flex
		align-items: center
		justify-content: center
		flex: 1
		height: 100%
		margin: 0 12px
		@media (max-width : $sm)
			margin: 0 $gutter / 4
			flex: none

	&__item-prev
		@media (max-width : $md)
			padding: 0
			flex: none
			width: 44px
			span
				display: none
			&:after
				content: '<'

	&__item-next
		@media (max-width : $md)
			padding: 0
			flex: none
			width: 44px
			span
				display: none
			&:after
				content: '>'
	
	&--small
		.c-pagination__item
			margin: 0 $gutter / 4