.c-popup-filter__container

	.fancybox__slide
		padding: 0
		// overflow: hidden

		.c-filter-form-popup
			min-width: 50%
			@media screen and ( max-width: $md )
				min-width: 100%

		.carousel__button
			padding: $gutter / 2
			color: $text-dark
			top: 0
			right: 0
			box-sizing: content-box
			svg
				filter: none

		.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content
			overflow: hidden

		.fancybox__content
			padding: $gutter * 2.5 $gutter * 2.5
			width: $sm
			.flex
				> .flex-item
					display: block

				.c-filter-form__button-wrapper
					display: none

			.flex-md-100
				> .flex-item
					width: 100%

			@media ( max-width: $md )
				width: 100%
				padding: $gutter * 3 $gutter * 2
				.c-form
					margin: auto