.c-popup-filter__container

	.fancybox__slide
		padding: 0
		// overflow: hidden

		.c-filter-form-popup
			// height: 100%
			width: 100%

		.carousel__button
			padding: $gutter
			color: $text-dark
			top: $gutter / 1.5
			box-sizing: content-box
			svg
				filter: none

		.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content
			overflow: hidden