.c-form-profile
	display: flex
	align-items: center
	margin-bottom: $gutter

	&__image-wrapper
		margin-right: $gutter

	&__image
		width: 96px
		height: 96px
		border-radius: 50%
		overflow: hidden
		img
			height: 100%
			object-fit: cover
			width: 100%

	&__title
		color: $text-dark
		margin: 0

	&__text
		margin: $gutter / 4 0